[submodule "ocluster"]
	path = vendor/ocluster
	url = https://github.com/MisterDA/ocluster.git
	branch = tezos-ci
[submodule "ocurrent"]
	path = vendor/ocurrent
	url = https://github.com/ocurrent/ocurrent.git
	branch = master
[submodule "vendor/current-web-pipelines"]
	path = vendor/current-web-pipelines
	url = https://github.com/tarides/current-web-pipelines.git
	branch = main
