[submodule "ocluster"]
	path = vendor/ocluster
	url = https://github.com/TheLortex/ocluster
[submodule "ocurrent"]
	path = vendor/ocurrent
	url = https://github.com/tmcgilchrist/ocurrent.git
[submodule "vendor/current-web-pipelines"]
	path = vendor/current-web-pipelines
	url = https://github.com/TheLortex/current-web-pipelines.git
